/* =============
    Section 6
============= */

#section-6{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-6 .";
    
    #section-6-content{
    background-image: url("../img/section-6/Letterpress.jpg");
    background-position: center top;